[user]
	name = Roney
[core]
	excludesfile=~/.cfg/git-exclude.txt
	safecrlf = true
	autocrlf = false
	eol = lf

---LINUX_START---
#gnome-keyring
#sudo apt-get install libgnome-keyring-dev
#sudo make --directory=/usr/share/doc/git/contrib/credential/gnome-keyring
#
#[credential]
#	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring

---LINUX_END---
[push]
	default = current
[pager]
	show = gvim -
[merge]
	tool = gvimdiff

# uncommet if: 
# `fatal: unable to access '': server certificate verification failed. CAfile: /etc/ssl/certs/ca-certificates.crt CRLfile: none`
#[http]
#	sslVerify = false
